img[src="/steaminputglyphs/xbox_button_logo.svg"],
img[src="/steaminputglyphs/ps4_button_logo.svg"],
img[src="/steaminputglyphs/switchpro_button_home.svg"],
img[src="/steaminputglyphs/sc_button_steam.svg"] {
    content: url("/steaminputglyphs/sc_button_steam.svg");
}

img[src="/steaminputglyphs/xbox_button_start.svg"],
img[src="/steaminputglyphs/ps4_button_options.svg"],
img[src="/steaminputglyphs/ps5_button_options.svg"],
img[src="/steaminputglyphs/switchpro_button_plus.svg"],
img[src="/steaminputglyphs/sc_button_r_arrow.svg"] {
    content: url("/steaminputglyphs/sc_button_r_arrow.svg");
    transform: scale(1.125);
}
